@import "./styles/globals.css";

@layer base {
    :root {
        @apply font-sans;
    }

    html,
    body,
    #root {
        @apply h-full w-full m-0 p-0;
    }

    body {
        @apply min-w-[320px] relative bg-background text-foreground;
    }
}

